# Cache files
cache/*

# Test
coverage/
coverage.clover

# Composer
composer.lock
vendor

# Build and test
build/

# Mac OS
.DS_Store

public_html/blog/*
public_html/collections/*
public_html/headers/*
public_html/publications/*